@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: "Montserrat";
}


.cardBtn{
    margin-top: 5px;
    width: 172px;
    height: auto;
    border: none;
    background-color: #2A3342;
    color: white;
    font-size: 13px;
    box-shadow: 1px 1px 3px grey;
    font-weight: 800;
    border-radius: 10px;
    padding: 0.4em 2em;
    position: absolute;
    top: 80%;
    left: 23%;
    display: none;
    white-space: nowrap;
}
.cardBtn:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    transition: 120ms;
}
.cards-over {
    padding-bottom: 4em;
}
.cards-over:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.02);
    transition: 120ms;
    box-shadow: 1px 1px 8px grey;
}


/* Modal estilo */

#closeModal {
    border: none;
    font-size: 25px;
    background: transparent;
    font-weight: 500;
    color: grey;
    margin-left: 90%;


}
#closeModal:hover {
    color: rgb(148, 93, 93);
    transition: 140ms;
}

#modalBtn{
    margin-left: auto;
    margin-top: 5px;
    width: 253px;
    height: 100%;
    border: none;
    background-color: #2A3342;
    color: white;
    font-size: 14px;
    box-shadow: 1px 1px 3px grey;
    font-weight: 800;
    border-radius: 10px;
    padding: 0.4em 2em;
    white-space: nowrap;
}
#fadeModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(170, 170, 170, 0.452);
    z-index: 5;
}
#modalSec {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    top: 30%;
    background-color: #fff;
    z-index: 10;
    max-width: 90%;
    border-radius: 1rem;

    animation: modalAnimation 0.5s ease-in-out;
}
#modalHeader{
    padding: 0.5em;
}
#modalSec h2 {
    font-size: 30px;
    font-weight: 400;
    padding-left: 9rem;
    padding-right: 9rem;
}
#modalSec p {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}
#modalBody{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
#modalFooter{
    margin-top: 3rem;
    margin-bottom: 5rem;
}
#modalBtn:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    transition: 120ms;
    cursor: pointer;
}

#modalSec.hide,
#fadeModal.hide {
    display: none;
}

#fadeModal,
#ModalSec {
    transition: .5s;
    pointer-events: all;
}

#modalAlinhamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    
}


@keyframes modalAnimation {
    from {
        transform: translateY(-10%);
    }
    to {
        transform: translateX(0%);
    }
}